@-moz-document domain("dynalist.io") {

/* #important tag */
.node-tag[title~="#important"] {
  background: red !important;
  color: white !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

/* #permanent tag */
.node-tag[title~="#permanent"] {
  background: green !important;
  color: white !important;
  text-decoration: bold;
  text-decoration: none !important;
}

/* #blocked tag */
.node-tag[title~="#blocked"] {
  background: black !important;
  color: white !important;
  text-decoration: none !important;
}

/* #discarded tag*/
.node-tag[title~="#discarded"] {
  background: #f6ff00 !important;
  color: black !important;
  text-decoration: none !important;
}

/* checked items appearance */
.Node.is-checked .node-link, 
.Node.is-checked .node-tag, 
.Node.is-checked .node-time, 
.Node.is-checked .Node-content, 
.Node.is-checked .Node-renderedContent, 
.Node.is-checked {
  color: #a9a9a9;
  text-decoration: none !important;
  font-style: oblique !important;
}

/* checked items #completed tag (auto-added) */
.Node.is-checked .Node-content:before, 
.Node.is-checked .Node-renderedContent:before {
  content: '#completed';
  background: #8d929b;
  color: white;
  font-weight: bold;
  font-style: normal !important;
}

/* #username tags for task assignments */
.node-tag[title~="#alberto"],
.node-tag[title~="#anique.yael"],
.node-tag[title~="#anu"],
.node-tag[title~="#daniel"], 
.node-tag[title~="#hazem"], 
.node-tag[title~="#johncoate"], 
.node-tag[title~="#matthias"],
.node-tag[title~="#nadia"],
.node-tag[title~="#noemi"],
.node-tag[title~="#zmorda"] {
  background-color: #e5e5e0!important;
  color: #51514f !important;
  font-weight: bold;
}

/* #by-username tags for task authorship */
.node-tag[title*="#by-"] {
  background-color: #f4f4f4 !important;
  color: #646464 !important;
}

/* @username tags for mentions */
.node-tag[title*="Filter @"] {
  /* Formatting done just as in Discourse. */
  background-color: #f4f4f4 !important;
  color: #646464 !important;
  font-weight: bold;
  text-decoration: none !important;
}
.Node-contentContainer .node-tag[title*="Filter @"] {
  /* As in Discourse, but only applied to normal items. Font would become too small in notes. */
  font-size: 0.93em;
}

/* item bulletpoints */
.Node-bullet:before {
  color: #4CB9FF;
}

/* hyperlinks */
.node-link {
  /* Formatting done just as in Discourse. */
  word-wrap: break-word;
    color: #08c;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
}

/* hyperlinks on the empty page before opening any document */
#blank-slate div ul li a {
    text-decoration: none;
}

/* #tags and @tags mouse-over highlighting */
.node-tag:hover {
  background-color: #363636 !important;
  color: white !important;
}

/* code */
.node-inline-code {
  /* Formatting done just as in Discourse. */
  color: black;
  background-color: #ffefef;
  font-family: monospace;
}

/******************************************/
/* EDIT HERE TO HIGHLIGHT YOUR OWN STUFF */
  
/* Adapt the selectors below with your name as used on Dynalist. 
   You'll have to do this after every update of this Stylish library stylesheet. 
   Alternatively copy&paste this to a new stylesheet applied on dynalist.io. */

/* tasks I am assigned to */
.node-tag[title~="#username"] {
  background: #fe7a15 !important; /* heatmap-high color from Discourse */
  color: black !important;
}

/* tasks I created */
.node-tag[title~="#by-username"] {
  background: #dcc8b2 !important; /* similar to heatmap-low color #9b764f from Discourse */
}

/* own mentions */
.node-tag[title~="@username"] {
  background: #dcc8b2 !important; /* similar to heatmap-low color #9b764f from Discourse */
}
/******************************************/

/* #tags and @tags mouse-over highlighting */
.node-tag:hover {
  background-color: #363636 !important;
  color: white !important;
}

} /* end @-moz-document */
