@-moz-document domain("dynalist.io") {
  
/* #important tag */
[title~="#important"] {
  background: red !important;
  color: white !important;
  font-weight: bold !important;
}

/* #permanent tag */
[title~="#permanent"] {
  background: green !important;
  color: white !important;
  text-decoration: bold;
}

/* #blocked tag */
[title~="#blocked"] {
  background: black !important;
  color: white !important;
}

/* #discarded tag*/
[title~="#discarded"] {
  background: #f6ff00 !important;
  color: black !important;
  /*text-decoration: line-through !important;*/
}

/* checked items appearance */
.Node.is-checked .node-link, 
.Node.is-checked .node-tag, 
.Node.is-checked .node-time, 
.Node.is-checked .Node-content, 
.Node.is-checked .Node-renderedContent, 
.Node.is-checked {
  color: #a9a9a9;
  text-decoration: none !important;
  font-style: oblique !important;
  font-size: 0.9em !important;
}

/* checked items #completed tag (auto-added) */
.Node.is-checked .Node-content:before, 
.Node.is-checked .Node-renderedContent:before {
  content: '#completed ';
  font-weight: bold;
  font-size: 1.1em;
  background-color: #8d929b;
  color: white;
}

/* #username tags for task assignments */
[title~="#alberto"],
[title~="#anique.yael"],
[title~="#anu"],
[title~="#daniel"], 
[title~="#hazem"], 
[title~="#johncoate"], 
[title~="#matthias"],
[title~="#nadia"],
[title~="#noemi"],
[title~="#zmorda"] {
  background-color: #e5e5e0 !important;
  color: #51514f !important;
  font-weight: bold;
  font-size: 0.9em;
}

/* #by-username tags for task authorship */
[title~="#by-alberto"],
[title~="#by-anique.yael"],
[title~="#by-anu"],
[title~="#by-daniel"], 
[title~="#by-hazem"], 
[title~="#by-johncoate"], 
[title~="#by-matthias"],
[title~="#by-nadia"],
[title~="#by-noemi"],
[title~="#by-zmorda"] {
  background-color: #d8d9e0 !important;
  color: #666979 !important;
  font-size: 1em;
}

/* @username tags for mentions */
[title~="@alberto"],
[title~="@anique.yael"],
[title~="@anu"],
[title~="@daniel"], 
[title~="@hazem"], 
[title~="@johncoate"], 
[title~="@matthias"],
[title~="@nadia"],
[title~="@noemi"],
[title~="@zmorda"] {
  background-color: #f4f4f4 !important;
  color: #666663 !important;
  font-weight: bold;
  font-size: 0.8em;
}

/* task bulletpoint (formatting it like a link) */
.Node-bullet:before {
  color: #4CB9FF;
}

/* hyperlinks (formatting them as in Discourse) */
.node-link {
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 2;
  pointer-events: auto;
  padding: 0 5px 0 5px;
  color: #4CB9FF;
  border-radius: 4px;
  font-weight: normal;
  border: none;
}

/* hyperlinks on the empty page before opening any document */
#blank-slate div ul li a {
    text-decoration: none;
}

/* #tags and @tags mouse-over highlighting */
.node-tag:hover {
  background-color: #363636 !important;
  color: white !important;
}

/* code (formatting it as in Discourse) */
.node-inline-code {
  color: black;
  background-color: #ffefef;
  font-family: monospace;
}

/*********************************************************************/
/* Section for your own, local configuration (overwrites the above). */

/* highlighting own tasks */
[title~="#your-username-here"] {
  background-color: #cc9999 !important;
}
  
/* highlighting own mentions */
[title~="@your-username-here"] {
  background-color: #cc9999 !important;
}

} /* end @-moz-document */
